/* understanding check */
.panel-understanding-check {
    /* background: #f6f7fb; */
    padding: 1.5rem;
    /* justify-content: center; */
    /* text-align: center; */
}

.form-group{
    margin-bottom: 20px;
    background-color: #f6f7fb;
    font-size: large;
    padding: 20px;
}

h2{
    /* padding-top: 20px; */
    padding-left: 20px;
    font-size: xx-large;
    font-weight: bolder;
}

.name {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    color: white;
    background-color: black;
}